@import 'variables';
@import 'nav-bar';
@import '~js-datepicker/src/datepicker';


*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  color: $sage;
  font-family: 'Staatliches', cursive;
  font-size: 50px;
  text-transform: uppercase;
}

.sign-in-page {
  height: 100vh;
  width: 100%;
  .background-img {
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 1000px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sign-in-section {
    height: 75%;
    margin: 5% 10%;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    width: 80%;
    z-index: 10;
  }
  h1 {
    margin-top: 20px;
  }
}

input {
  font-size: 15px;
  padding: 5px;
}

body,
.profile-tab,
input,
button {
  color: $teal;
  font-family: 'Raleway', sans-serif;
}

.hide {
  display: none;
}

.sign-in-form {
  background: rgba($pink, 0.9);
  border-radius: 5px;
  margin: 5% auto;
  padding: 30px 0px 30px 0px;
  width: 40%;
  p {
    margin: 10px 0px;
  }
  input {
    border: none;
    height: 30px;
  }
  button {
  background-color: $grey;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
  }
}

.error-msg {
  font-style: italic;
  margin: 5px;
}

.manager-home,
.client-home {
  height: 90vh;
  width: 100%;
}

.client-home {
  h3 {
    margin-top: 20px;
    text-align: center;
  }
}

.today-stats {
  background: rgba($sage, 0.2);
  border-radius: 5px;
  margin: 30px auto;
  min-width: 350px;
  padding: 20px;
  width: 40%;
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  li {
    margin: 20px;
  }
  p {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

.open-beds,
.total-revenue,
.percent-full {
  font-size: 20px;
  font-weight: bolder;
}

.bed-icon {
  @include stat-icons("../images/bed-solid.png");
}

.money-icon {
  @include stat-icons("../images/money-bill-solid.png");
}

.percent-icon {
  @include stat-icons("../images/percentage-solid.png");
}


.available-rooms-title {
  margin-top: 50px;
  text-align: center;
}


/// room container

.rooms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 30px;
  width: 80%;
  .room-container {
    background-color: $grey;
    border-radius: 5px;
    height: 310px;
    margin: 10px 20px;
    min-width: 300px;
    position: relative;
    width: 20%;
    .hotel-pic {
      border-radius: 5px 5px 0 0;
      height: 70%;
      margin-bottom: 5px;
      object-fit: fill;
      pointer-events: none;
      width: 100%;
    }
    p {
      margin-left: 15px;
      pointer-events: none;
    }
    &:hover > .date {
      background-color: rgba($pink, 0.6);
      height: 100%;
      left: 0;
      padding-top: 30px;
      position: absolute;
      text-align: center;
      top: 0;
      visibility: visible;
      width: 100%;
      p {
        color: $teal;
        font-size: 40px;
      }
    }
  }
}

.date {
  visibility: hidden;
}

.client-bookings {
  margin-top: 60px;
  label {
    text-align: center;
  }
  .datepicker-container {
    margin: 0 auto;
    width: 30%;
    input {
      -webkit-appearance: none;
      background-color: rgba($sage, 0.5);
      border-radius: 5px;
      border: none;
      margin: 15px auto;
      padding: 10px;
      text-align: center;
      width: 100%;
    }
  }
}

.no-rooms {
  margin: 20px auto;
  text-align: center;
  width: 20%;
}

.filter-area {
  margin: 0 auto;
  width: 40%;
  .filter-title {
    margin-bottom: 20px;
    text-align: center;
  }
  li {
    background-color: rgba($pink, 0.9);
    border-radius: 5px;
    cursor: pointer;
    list-style-type: none;
    margin: 0 5px;
    padding: 10px;
    text-align: center;
    width: 40%;
  }
  .active {
    background-color: rgba($sage, 0.5);
  }
  .filter-menu {
    display: flex;
  }

}

.manager-bookings {
  margin: 30px auto;
  text-align: center;
  width: 100%;
  input {
    background-color: rgba($sage, 0.1);
    border-radius: 5px;
    border: none;
    font-size: 13px;
    font-style: italic;
    height: 20%;
    width: 20%;
  }
  label {
    display: block;
    padding: 20px;
  }
  button {
    background-color: rgba($pink, 0.6);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    width: 10%;
  }
}

.client-info {
  margin-top: 40px;
  .client-name {
    margin: 20px;
  }
  h2 {
    letter-spacing: .2rem;
  }
}

.client-info-table {
  margin: 30px 0px 30px 34%;
  min-width: 400px;
  width: 40%;
  th {
    text-align: left;
    width: 30%;
  }
  td {
    margin-right: 10px;
    text-align: left;
  }
  .room-num-data {
    width: 20%;
  }
}

.delete{
  &:hover {
    color: $dusty-pink;
    cursor: pointer;
  }
}

.manager-bookings {
  .room-container {
    &:hover > .booking-warning {
    @include booking-hover();
    }
  }
}

.client-bookings {
  .room-container {
    &:hover > .booking-warning {
    @include booking-hover();
    }
  }
}

.booking-warning {
  visibility: hidden;
}
