@import 'variables';
@import '~js-datepicker/src/datepicker';


*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-family: 'Staatliches', cursive;
  font-size: 50px;
  text-transform: uppercase;
  color: $sage;
}

nav {
  font-family: 'Staatliches', cursive;
  width: 100%;
  height: 10vh;
  min-height: 55px;
  background-color: $pink;
  padding-top: 10px;
  h1 {
    margin-left: 10px;
  }
}

.profile-tab{
  &:hover {
	background: rgba($grey, 0.9);
	cursor: pointer;
  }
}

.profile-tab {
  &:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  // min-width: 5rem;
  text-align: center;
  position: absolute;
  right: 5px;
  transition: all 0.5s ease;
  margin-top: 7px;
  // left: 0;
  display: none;
  list-style: none;
  // margin: 0;
  padding-left: 0;
  &:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  li {
    border-radius: 5px;
    padding: 6px;
    width: 100%;
    margin: 5px;
    background-color: rgba($grey, 0.9);
    &:hover {
    background-color: $dusty-pink;
    color: $grey;
    }
  }
}

.sign-in-page {
  height: 100vh;
  width: 100%;
  .background-img {
    min-height: 100%;
    min-width: 1000px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  .sign-in-section {
    z-index: 10;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    margin: 5% 10%;
    width: 80%;
    height: 75%;
  }
  h1 {
    margin-top: 20px;
  }
}

input {
  font-size: 15px;
  padding: 5px;
}

body,
.profile-tab,
input,
button {
  font-family: 'Raleway', sans-serif;
  color: $teal;
}

.hide {
  display: none;
}

.sign-in-form {
  background: rgba($pink, 0.9);
  width: 40%;
  margin: 5% auto;
  padding: 30px 0px 30px 0px;
  border-radius: 5px;
  p {
    margin: 10px 0px;
  }
  input {
    height: 30px;
    border: none;
  }
  button {
  padding: 5px 10px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  background-color: $grey;
  }
}

.error-msg {
  margin: 5px;
  font-style: italic;
}

.manager-home,
.client-home {
  height: 90vh;
  width: 100%;
}

.client-home {
  h3 {
    text-align: center;
    margin-top: 20px;
  }
}

.today-stats {
  padding: 20px;
  border-radius: 5px;
  width: 40%;
  min-width: 350px;
  margin: 30px auto;
  background: rgba($sage, 0.2);
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  li {
    margin: 20px;
  }
  p {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

.open-beds,
.total-revenue,
.percent-full {
  font-weight: bolder;
  font-size: 20px;
}

.bed-icon {
  @include stat-icons("../images/bed-solid.png");
}

.money-icon {
  @include stat-icons("../images/money-bill-solid.png");
}

.percent-icon {
  @include stat-icons("../images/percentage-solid.png");
}


.available-rooms-title {
  text-align: center;
  margin-top: 50px;
}

.profile-tab {
  background: rgba($dusty-pink, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: auto;
  padding-right: 30px;
  min-width: 15%;
  border-radius: 5px;
  margin: 15px 7px 0px 7px;
  .profile-icon {
    margin: 7px 0px 0px 20px;
    height: 20px;
    width: 20px;
  }
  .client-name {
    margin: 9px 30px;
    display: inline;
  }
}

/// room container

.rooms-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  .room-container {
    position: relative;
    margin: 10px 20px;
    border-radius: 5px;
    background-color: $grey;
    width: 20%;
    min-width: 300px;
    height: 310px;
    .hotel-pic {
      margin-bottom: 5px;
      object-fit: fill;
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 70%;
      pointer-events: none;
    }
    p {
      margin-left: 15px;
      pointer-events: none;
    }
    &:hover > .date {
      background-color: rgba($pink, 0.6);
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      p {
        color: $teal;
        font-size: 40px;
      }
    }
  }
}

.date {
  visibility: hidden;
}

.client-bookings {
  margin-top: 60px;
  label {
    text-align: center;
  }
  .datepicker-container {
    margin: 0 auto;
    width: 30%;
    input {
      background-color: rgba($sage, 0.5);
      border: none;
      text-align: center;
      margin: 15px auto;
      width: 100%;
      border-radius: 5px;
      padding: 10px;
      -webkit-appearance: none;
    }
  }
}

.no-rooms {
  width: 20%;
  margin: 20px auto;
  text-align: center;
}

.filter-area {
  width: 40%;
  margin: 0 auto;
  .filter-title {
    text-align: center;
    margin-bottom: 20px;
  }
  li {
    list-style-type: none;
    width: 40%;
    background-color: rgba($pink, 0.9);
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  .active {
    background-color: rgba($sage, 0.5);
  }
  .dropdown-menu {
    display: flex;
  }

}

.manager-bookings {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  input {
    height: 20%;
  }
  label {
    display: block;
    padding: 20px;
  }
  button {
    padding: 5px;
    width: 10%;
    border-radius: 5px;
  }
}

.client-info {
  // width: 100%;
  margin-top: 40px;
  .client-name {
    margin: 20px;
  }
}

.client-info-table {
  margin: 30px 0px 30px 34%;
  min-width: 400px;
  width: 40%;
  th {
    width: 30%;
    text-align: left;
  }
  td {
    // width: 30%;
    text-align: left;
    margin-right: 10px;
  }
  .room-num-data {
    width: 20%;
  }
}

.delete{
  &:hover {
    color: $dusty-pink;
    cursor: pointer;
  }
}
